<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <apm-sidebar></apm-sidebar>
  <!-- End of Sidebar -->

  <div id="content-wrapper">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <apm-topbar></apm-topbar>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- End of Page Content /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; PROCERGS 2020<br><br> APM - Angular - NodeJS</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>

  <!-- Logout Modal-->
  <apm-logout-modal></apm-logout-modal>
