<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <apm-sidebar></apm-sidebar>
  <!-- End of Sidebar -->

  <div id="content-wrapper">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <apm-topbar></apm-topbar>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- End of Page Content /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <apm-footer></apm-footer>
    <!-- End of Footer -->
  </div>

  <!-- Logout Modal-->
  <apm-logout-modal></apm-logout-modal>
