*,
::after,
::before {
  box-sizing: border-box;
}

.jumbotron {
  margin-top: 1%;
  margin-bottom: 0% !important;
  padding: 4% !important;
}

.jumbotron {
  background-size: 100%;
  background-repeat: no-repeat;
}

.nav {
  position: relative;
  top: auto;
  padding-top: 0%;
  margin-top: 0px;
  margin-bottom: 2% !important;
}

.nav-background-color {
  background-color: green;
  color: white;
}

/* visited link */
a:visited,
a:active,
a:link {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue !important;
}


/* visited link */
a.nav-link:visited {
  color: white !important;
}

a.nav-link:active {
  color: white !important;
}

a.nav-link:link {
  color: white !important;
}

/* mouse over link */
a.nav-link:hover {
  color: greenyellow !important;
}


.table {
  margin-top: 2%;
}

.site-footer {
  position: relative;
  color: #1b1b32;
  background: #eeeef0;
  line-height: 1.6
}

.footer-container {
  margin-right: auto;
  margin-left: auto;
  padding: 40px 15px;
  font-size: 15px;
  overflow-x: hidden;
}

.footer-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.red {
  color: red;
}

.green {
  color: green;
}

.center {
  text-align: center;
}

label {
  margin-bottom: 1px !important;
}

.input-bar {
  display: table;
  width: 100%;
}

.input-bar-item {
  display: table-cell;
}

.input-bar-item>button {
  margin-left: 5px;
}

.width100 {
  width: 100%;
}




@media (min-width: 768px) {

  .sidebar:not(.show) {
    display: block;
    width: 7rem !important;
    text-align: center;
  }

  .sidebar:not(.show) .sidebar-brand-text {
    display: none;
  }

  .sidebar:not(.show) .nav-item .nav-link {
    width: 6.5rem !important;
    text-align: center !important;
  }

  .sidebar:not(.show) .nav-item .nav-link span {
    font-size: .65rem !important;
    display: block !important;
  }

  .sidebar:not(.show) a.nav-link {
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar:not(.show) .sidebar-heading {
    text-align: center;
  }

  .sidebar:not(.show) .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);
    animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);
  }

  .sidebar:not(.show) .nav-item .collapse .collapse-inner {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    border-radius: 0.35rem;
  }

  .sidebar:not(.show) .nav-item .collapsing {
    display: none;
    transition: none;
  }

  .sidebar:not(.show) .nav-item .collapse,
  .sidebar:not(.show) .nav-item .collapsing {
    margin: 0;
  }

  .sidebar:not(.show) .nav-item:last-child {
    margin-bottom: 1rem;
  }

  .sidebar:not(.show) .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 6.5rem;
  }

  .sidebar:not(.show) .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }

  .sidebar:not(.show) .nav-item .nav-link i {
    margin-right: 0;
  }

  .sidebar:not(.show) .nav-item .nav-link[data-toggle="collapse"]::after {
    display: none;
  }

  .sidebar:not(.show) .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
  }

  .sidebar:not(.show) .sidebar-brand .sidebar-brand-text {
    display: none;
  }

  .sidebar:not(.show) .sidebar-heading {
    text-align: center;
  }

  .sidebar:not(.show) #sidebarToggle::after {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    margin-left: .25rem;
  }
}
