      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      </div>

      <!-- Content Row -->
      <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <apm-card [card]="cardRendimentosMensal"></apm-card>
        </div>

        <!-- Earnings (Anual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <apm-card [card]="cardRendimentosAnual"></apm-card>
        </div>

        <!-- Tasks Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <apm-card [card]="cardTasks"></apm-card>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <apm-card [card]="cardPending"></apm-card>
        </div>

      </div>
      <!-- div row -->

      <!-- Content Row -->

      <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
          <apm-card-content [card]="cardContentLeft"></apm-card-content>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
          <apm-card-content [card]="cardContentRight"></apm-card-content>
        </div>
      </div>
      <!-- div row -->

      <!-- Content Row -->
      <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

          <!-- Project Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inscritos</h6>
            </div>
            <div class="card-body">
              <apm-card-progress-bar [card]="cardProgressAngular"></apm-card-progress-bar>
              <apm-card-progress-bar [card]="cardProgressReact"></apm-card-progress-bar>
              <apm-card-progress-bar [card]="cardProgressJava"></apm-card-progress-bar>
              <apm-card-progress-bar [card]="cardProgressJavaScript"></apm-card-progress-bar>
              <apm-card-progress-bar [card]="cardProgressVueJs"></apm-card-progress-bar>
            </div>
          </div>

        </div>

        <div class="col-lg-6 mb-4">

          <!-- Illustrations -->
          <div class="card shadow mb-4">

            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Sistema de cores</h6>
            </div>

            <!-- Color System -->
            <div class="row">
              <div class="col-lg-6 mb-4" *ngFor="let color of colors">
                <apm-card-badge [color]="color"></apm-card-badge>
              </div>
            </div>

            <!-- Approach -->
            <!-- <div class="card shadow mb-4">
            <div class="card-body" style="display: inline-block;">
              <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor
                page performance. Custom CSS classes are used to create custom components and
                custom utility classes.</p>
              <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework,
                especially the utility classes.</p>
            </div>
          </div> -->
          </div>
        </div>
        <!-- div row -->
